body {
	margin:0;
	padding:0;
	background-color: #FDFDFD;
	font-family: helvetica;
	font-size: 80%;
}

div#container {
	width:350px;
	overflow:hidden;
}

div#container > header {
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#ECECEC));
	line-height:30px;
	padding:5px;
	font-size:120%;
	font-weight:bold;
	border-bottom:1px solid #C3C3C3;
}

div#sessions > div {
	cursor:pointer;
	border-bottom:1px solid #ccc;
	min-height:17px;
}

div#sessions > div:hover {
	background-color:whiteSmoke;
}

div#sessions > div.selected:hover {
	background-color: inherit;
}

div#sessions > div > header {
	padding:8px 10px 8px 10px;
	height:16px;
}

div#sessions > div > header > div.star {
	width:13px;
	height:13px;
	float:left;
	margin-right:8px;
	background-image:url(../img/star_empty.png);
}

div#sessions > div > header > div.full {
	background-image:url(../img/star_full.png);
}

div#sessions > div > header > div.name {
	white-space: nowrap;
	width:307px;
	float:left;
	margin-right:-180px;
}

div#sessions > div > header > div.info {
	z-index:99;
	width:170px;
	float:right;
	text-align:right;
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0%,rgba(255,255,255,0)),
		color-stop(43%,rgba(255,255,255,1)),
		color-stop(100%,rgba(255,255,255,1)));
}

div#sessions > div > header > div.over {
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(0%,rgba(245,245,245,0)),
		color-stop(43%,rgba(245,245,245,1)),
		color-stop(100%,rgba(245,245,245,1)));
}

div#sessions > div > header > span {
	color:#ccc;	
}

div#sessions > div > div.details {
	padding:0px 10px 8px 10px;
	display:none;
	padding-top:10px;
}

div.button {
	float:right;
	font-size:80%;
	border-radius:10px;
	background-color:#ECECEC;
	padding:1px 10px 1px 10px;
	color:#999;
	display:none;
	cursor:pointer;
}

div.button:hover {
	background-color:white;
}

div.confirm, div.confirm:hover {
	background-color:red !important;
	color:white;
}

div#new {
	padding: 8px 10px 8px 10px;
}

div#new > input {
	margin-top:-5px;
	border:0;
	outline:0;
	width:280px;
}
